body{
	
	background: url(../images/old_wall.png);
}

.holder{
	font-family: 'Libre Baskerville', serif;
	src: url('../fonts/LibreBaskerville-Regular.ttf');
}

#title{
	color: #9a2f20;
}

nav->ul->li{
	margin-top: 20px auto;	
}

.carousel-inner > .item > img{
	max-height:500px;
	max-width: 500px;
	min-height: 300px;
	min-width: 300px;
	margin: auto;
	padding: 10px;
}

.sign{
	margin: 50px ;
	 background: #9a2f20;
	color: #fff;
	border-radius: 4px;
}

#forms{
	margin: 25px auto;
}

.norm, .submit{
	color: #9a2f20;
}

